<ion-header>
  <ion-toolbar>
    <ion-title>
      Banco de personas
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
    <ion-card-content>
        <h3>Sexo del personaje</h3>
        <ion-input class="blanco" type="text" [(ngModel)]="sex" placeholder="Introduce male o female"></ion-input>     
    </ion-card-content>
  <ion-grid>
    <ion-row>
      <ng-container *ngFor="let user of users | async">
      <ion-col  *ngIf="sex==user.gender" size-xs="12" size-sm="6" size-md="6" size-lg="4" size-xl="4" >
          <ion-card>
          <ion-item>
            <ion-avatar item-start>
            </ion-avatar>
            <h2>{{ user.name }}</h2>
          </ion-item>
          <ion-card-content>
              <table align="center" class="contacto">
                  <tr>
                    <h5><p>Nombre:</p> {{ user.name }} </h5>
                    <h5><p>Edad:</p> {{ user.age }} </h5>
                    <h5 id="telefono"><p>Telefono:</p> {{ user.phone}} </h5>
                  </tr>
                  <tr>
                    
                    <h5 id="email"><p>Email:</p> {{ user.email}} </h5>
                    <h5 id="Direccion"><p>Direccion:</p> {{ user.address}} </h5>
                    <h5 id="ojos"><p>ColorDeOjos:</p> {{ user.eyeColor }} </h5>
                  </tr>
                  <tr>
                   
                  </tr>
                </table>
                
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>